In [1]:
d1 = {'name': 'jason', 'age': 20, 'gender': 'male'}
d2 = dict({'name': 'jason', 'age': 20, 'gender': 'male'})
d3 = dict([('name', 'jason'), ('age', 20), ('gender', 'male')])
d4 = dict(name='jason', age=20, gender='male') 
print(d1 == d2 == d3 ==d4)

True

In [2]:
s1 = {1,2,3}
s2 = set([1,2,3])
print(s1 == s2)

True

In [3]:
# 集合不支持索引操作
s = {1,2,3}
s[0]

TypeError: 'set' object does not support indexing

In [5]:
s = {1,2,4}
print(1 in s)
print(3 in s)

d = {'name':'jian','age':20}
print('name' in d)
print('location' in d)

True
False
True
False

In [7]:
d = {'name':'jian','age':'28','location':'karlsruhe'}

print(d['name'])

d['birthday'] = '1993-04-28'
print(d)

d.pop('birthday')

jian
{'name': 'jian', 'age': '28', 'location': 'karlsruhe', 'birthday': '1993-04-28'}

'1993-04-28'

In [8]:
s = {1,2,3}

s.add(4)
print(s)

s.remove(4)
print(s)

{1, 2, 3, 4}
{1, 2, 3}

In [9]:
#字典的升序和降序
d = {'b':1,'a':2,'c':10}
d_sorted_by_key = sorted(d.items(),key=lambda x:x[0])
d_sorted_by_value = sorted(d.items(),key=lambda x:[1])
print(d_sorted_by_key)
print(d_sorted_by_value)

[('a', 2), ('b', 1), ('c', 10)]
[('b', 1), ('a', 2), ('c', 10)]

In [13]:
#增删查找
#列表的做法
#list version
def find_unique_price_using_list(products):
    unique_price_list = []
    for _,price in products:
        if price not in unique_price_list:
            unique_price_list.append(price)
    return len(unique_price_list)
#products id and price
products = [(143121312, 100), 
    (432314553, 30),
    (32421912367, 150),
    (937153201, 30)]

print('number of unique price is: {}'.format(find_unique_price_using_list(products)))

number of unique price is: 3

In [14]:
def find_unique_price_using_set(products):
    unique_price_set = set()
    for _,price in products:
        if price not in unique_price_set:
            unique_price_set.add(price)
    return len(unique_price_set)


products = [
    (143121312, 100), 
    (432314553, 30),
    (32421912367, 150),
    (937153201, 30)
]
print('number of unique price is: {}'.format(find_unique_price_using_set(products)))

number of unique price is: 3

In [18]:
#compare the running time

import time
id = [x for x in range(0,100000)]

price = [x for x in range(200000,300000)]

products = list(zip(id,price))

# calculate the time at list version
start_using_list = time.perf_counter()
find_unique_price_using_list(products)
end_using_list = time.perf_counter()
print("time elapse using list:{}".format(end_using_list - start_using_list))

time elapse using list:43.101971504000176

In [19]:
# calculate the time at set version
start_using_set = time.perf_counter()
find_unique_price_using_set(products)
end_using_set = time.perf_counter()
print("time elapse using set: {}".format(end_using_set - start_using_set))

time elapse using set: 0.018979394999405486

In [20]:
timeit a = {'name':'jianye','age':20}

81.8 ns ± 6.88 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [22]:
timeit b = dict({'name':'jianye','age':20})

264 ns ± 22.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)